body{
  background-color: navy;
}

.card-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container{
  cursor: pointer;
  background-color: dimgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  width:80vw;
  height: 50vh;
  margin: 5rem;
  border: .2rem solid goldenrod;
}

.question-category{
  color: navy;
  border-bottom: .2rem dotted goldenrod;
}

.question-text{
  visibility: visible;
  color: goldenrod;
}

.question-res{
  visibility: hidden;
  color: navy;
}

.btn{
  cursor: pointer;
  background-color: goldenrod;
  color: navy;
  border: .2px solid navy;
  border-radius: .5rem;
  height: 30px;
  width: 60px;
}

.btn-container{
  display:flex;
  justify-content: space-around;
}

#prev-btn{
  justify-content: flex-start;
}

#next-btn{
  justify-content: flex-end;
}